@font-face {
  font-family: 'Gmarket Sans';
  src: url('assets/fonts/GmarketSansTTFBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gmarket Sans';
  src: url('assets/fonts/GmarketSansTTFMedium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gmarket Sans';
  src: url('assets/fonts/GmarketSansTTFLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
